#nav{
    margin-left:40%;
    margin-top:2%;
}

#lifeline{
    position:relative;
    bottom:2%;
}

#causes{
    margin-left:23%;
}
ul{
    margin-right:7%;
}
body{
    background: url("https://images.genius.com/16ea1bf744b9a4b2d1b47ffd5cc52eeb.500x500x1.png");
}